<div class="cart-container">
    <h2>CART ITEMS</h2>
    <div *ngIf = "cartItems.length ===0" class = "empty-cart">
        Your Cart is empty
    </div>

 <!-- <ng-template #cartContent> -->
    <div *ngIf = "cartItems && cartItems.length > 0" class = "cart-items">
        <!-- <img [src] = "item.imageUrl" alt = "{{item.name}}" class = "item-image"> -->
        <!-- <div class = "cart-item-details">
            <h3>{{item.name}}</h3>
            <p>Price: ${{item.price}}</p>
            <p>Quantity: {{item.quantity}}</p>
            <button (click)="removeItem(item)">Remove</button>
        </div> -->

        <ul>
            <li *ngFor = "let item of cartItems" class="cart-item">
              <div class="cart-item-details">
                <!-- <div>cartId: {{item.cart_id}}</div>
                <div>User ID: {{item.user_id}}</div> -->
                <img [src] = " 'assets/' +item.imageUrl" alt = "{{item.product_name}}" class = "item-image"/>
                <div>Product Name: {{item.product_name}}</div>
                <div>Price: {{item.product_price}}</div>
                <div>Product Id: {{item.product_id}}</div>
                <div>Quantity: <input type = "number" (change)="updateQuantity(item.cart_id, quantity)" min="1" max ="10"></div>
                <button class = "remove-button" (click)="removeItem(item.user_id,item.cart_id)">Remove</button>
              </div>
                
            </li>
        </ul>
    </div>

    <div class="cart-total">
        <!-- <h3>Total: ${{cartTotal}}</h3> -->
        <button (click)="checkout()">Checkout</button>
    </div>
<!-- </ng-template> -->
</div>